<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/uploadride.css">
    <title>UPLOAD RIDE</title>
</head>

<body>
  <%if(!user) {%>
    <h2>Please sign up or login before uploading ride</h2>
    <li><a href="./login">Login</a></li>
    <li><a href="./signup">SignUP</a></li>
    <% }else {%>
        <h1 style="background-color: white;">Hello <%= user.username %></h1>
        <form action="/logout" method="post">
            <button type="submit" class="btn_web">Logout</button>
          </form>
    <% }%>
    <div class="container">
        <h1 class="form-title">Upload Ride</h1>
        <form action="/uploadride" method="post">
            <div class="main-user-info">
              <div class="user-input-box">
                <label for="fullName">Full Name</label>
                <input type="text"
                        id="fullName"
                        name="fullName"
                        placeholder="Enter Full Name"/ required>
              </div>
              <div class="user-input-box">
                <label for="phoneNumber">Phone Number(10 digits)</label>
                <input type="text"
                        id="phoneNumber"
                        name="phoneNumber"
                        placeholder="Enter Phone Number"/ required>
              </div>
              <div class="user-input-box">
                <label for="arrival">Arrival</label>
                <input type="text"
                        id="arrival"
                        name="arrival"
                        placeholder="Enter Arrival"/ required>
              </div>
              <div class="user-input-box">
                <label for="destination">Destination</label>
                <input type="text"
                        id="destination"
                        name="destination"
                        placeholder="Enter Destination"/ required>
              </div>
              <div class="user-input-box">
                <label for="date">Date</label>
                <input type="date"
                        id="date"
                        name="date"
                        placeholder="Enter Date"/ required>
              </div>
              <div class="user-input-box">
                <label for="email">Email</label>
                <input type="email"
                        id="email"
                        name="email"
                        placeholder="Enter Email"/ required>
              </div>
            </div>
           <!-- <div class="gender-details-box">
              <span class="gender-title">Gender</span>
              <div class="gender-category">
                <input type="radio" name="gender" id="male">
                <label for="male">Male</label>
                <input type="radio" name="gender" id="female">
                <label for="female">Female</label>
                <input type="radio" name="gender" id="other">
                <label for="other">Other</label>
              </div>
            </div> -->
            <div class="form-submit-btn">
              <input type="submit" value="Register" onclick="message()">
              <a href="/">Back</a>
            </div>
            <br>
          <% if (successMessage) { %>
            <div style="color: green; margin-bottom: 10px; justify-content: space-around;align-items: center;"><%= successMessage %></div>
        <% } %>
          </form>
         <!-- <div class="message">
            <div class="success" id="success" style="display: none;">Your Message Successfully Sent!</div>
            <div class="danger" id="danger" style="display: none;">Feilds Can't be Empty!</div>
        </div> -->
    </div>
    <script>
        function message(){
            var fullname = document.getElementById('fullname');
            var phonenumber = document.getElementById('phonenumber');
            var arrival = document.getElementById('arrival');
            var destination = document.getElementById('destination');
            var email = document.getElementById('email');
            var date = document.getElementById('date');
            const success = document.getElementById('success');
            const danger = document.getElementById('danger');
        
            if(fullname.value === '' || phonenumber.value === '' || arrival.value === '' || destination.value===''||email.value==='' ||date.value===''){
                danger.style.display = 'block';
            }
        
        }
    </script>
</body>

</html>